# Ironhack note - This file is for running in docker compose with prebuilt images
# Use these if you're stuck, or if you want to start slowly migrating from external images into your own.

services:
  vote:
    image: tannaz87/vote:latest
 #  build: ./vote
    depends_on:
      - redis
    ports:
      - "8080:80"
    networks:
      - back-tier

  result:
    image: tannaz87/result:latest
 #  build: ./result
    depends_on:
      - db
    ports:
      - "8081:80"
    networks:
      - back-tier

  worker:
 #  build: ./worker
    image: tannaz87/worker:latest
    depends_on:
      - redis
      - db
    networks:
      - back-tier

  redis:
    image: redis:alpine
    volumes:
      - "./healthchecks:/healthchecks"
    healthcheck:
      test: /healthchecks/redis.sh
      interval: "5s"
    networks:
      - back-tier

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - "db-data:/var/lib/postgresql/data"
      - "./healthchecks:/healthchecks"
    healthcheck:
      test: /healthchecks/postgres.sh
      interval: "5s"
    networks:
      - back-tier

volumes:
  db-data:

networks:
  back-tier:
