apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tannaz-pvc-postgres
  namespace: tannaz
spec:
  storageClassName: ebs-sc
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

