apiVersion: apps/v1
kind: Deployment
metadata:
  name: tannaz-deployment-postgres
  namespace: tannaz
  labels:
    app: tannaz-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tannaz-postgres
  template:
    metadata:
      labels:
        app: tannaz-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14-alpine
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
            - name: POSTGRES_DB
              value: "votes"
            - name: PGDATA
              value: "/var/lib/postgresql/data/pgdata"
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: tannaz-pvc-postgres

